/supertokens-app/backend/node_modules
supertokens-app/backend/node_modules
/supertokens-app/frontend/node_modules
supertokens/frontend/node_modules
/supertokens-app/node_modules
supertokens-app/node_modules
/node_modules